:host {
  .main-grid {
    display: grid;
    grid-template-columns: 1fr 3fr;
  }
  .user-avatar {
    grid-row: span 2;
    border-radius: 27px;
    width: 19vw;
    height: 19vw;
    object-fit: cover;
  }
  .user-name {
    font-style: var(--custom-font-style-normal);
    font-weight: var(--custom-font-weight-semibold);
    font-size: var(--custom-font-size-8);
    line-height: var(--custom-line-height); //todo 18px
    color: var(--custom-text-color-movili-dark);
  }
  .user-address {
    font-style: var(--custom-font-style-normal);
    font-weight: var(--custom-font-weight-regular);
    font-size: var(--custom-font-size-9);
    line-height: var(--custom-line-height); //todo 19px
    color: var(--custom-text-color-movili-dark);
  }
  .address-string {
    margin-left: 10px;
  }
  .location-icon {
    width: 18px;
  }

}
