<ion-content>
  <app-common-header [header]="moviliHeader"></app-common-header>
  <div class="page-padding">
    <div class="padding-registration"></div>
    <form action="" autocomplete="off">

      <h4>Пароль</h4>
      <!--      <label for="registraionId">Enter your credentials to continue</label>-->

      <div class="custom-margin-top"></div>
      <label for="passwordId">Пароль</label>
      <input id="passwordId" class="custom-input"
             [(ngModel)]="password"
             autocomplete="new-password" name="password" type="password" placeholder="Введите пароль">

      <div class="custom-margin-top"></div>

      <label for="confirmPasswordId">Повторите пароль</label>
      <input id="confirmPasswordId"
             [(ngModel)]="confirmPassword" name="confirmPassword" class="custom-input" autocomplete="new-password"
             type="password"
             placeholder="Повторите пароль">

      <!--      <div class="custom-margin-top"></div>-->
      <!--      <label for="passwordId">Пароль</label>-->
      <!--      <input id="passwordId" autocomplete="new-password" class="custom-input" type="password"-->
      <!--             placeholder="Введите пароль">-->


      <div class="custom-margin-top"></div>
      <button class="custom-button-movili"
              [disabled]="!password.length || !confirmPassword.length || password !== confirmPassword"
              (click)="registerUser()">Зарегистрироваться
      </button>

      <div class="custom-margin-top"></div>
      <div class="confident">Продолжая, вы соглашаетесь с нашими
        <a href="">Условиями использования</a>
        и
        <a href="">Политика конфиденциальности</a>
      </div>


    </form>
  </div>


</ion-content>
