:host {
  .confident {
    font-style: var(--custom-font-style-normal);
    font-weight: var(--custom-font-weight-regular);
    font-size: var(--custom-font-size-9);
    color: var(--custom-text-color-gray);
    letter-spacing: 0.05em;
    line-height: 110%;
  }
  .padding-registration {
    padding-top: 13vw;
  }
}
