<ion-content>
  <app-common-header [header]="moviliHeader"></app-common-header>
  <div class="page-padding">
    <app-usluga-card *ngIf="service" [serv]="service"></app-usluga-card>
    <div class="categories-list">
      <ul>
        <li class="filter-item-element {{(category.selected) ? 'checked': ''}}" *ngFor="let category of categories"
            (click)="checkCategory(category)">
          <span class="category-name">
          {{category.name}}
          </span>
          <div class="checkbox">
          </div>
        </li>
      </ul>
    </div>
  </div>
</ion-content>
<ion-footer>
  <div class="page-padding">
    <button (click)="goNext()" class="custom-button-movili">
      <span>Далее</span>
    </button>
  </div>
</ion-footer>
