:host {
  .product-image {
    border-radius: 18px;
    width: 100%;
    height: 30vw;
    object-fit: cover;
  }

  .product-card {
    border-radius: 18px;
    border: 1px solid var(--custom-backgrond-color-movili);
    line-height: 18px;
    height: 67vw;
  }

  .product-info {
    padding: 12px;
  }

  .product-name {
    font-size: var(--custom-font-size-8);
    letter-spacing: 0.1px;
    font-weight: var(--custom-font-weight-bold);
    background: var(--custom-backgrond-color-movili);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  .card-footer {
    display: grid;
    //grid-template-columns: repeat(2, 1fr);
    grid-template-columns: 2fr 1fr;
    //grid-template-rows: 1fr 1fr;
  }

  .stars {
    grid-column: span 1;
    grid-row: span 1;
  }

  .price {
    grid-column: span 1;
    grid-row: span 1;
    font-size: var(--custom-font-size-7);
    font-weight: var(--custom-font-weight-semibold);
    letter-spacing: 0.1px;
    background: var(--custom-backgrond-color-movili);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .add-button {
    grid-column: span 1;
    grid-row: span 2;
    width: 46px;
    height: 46px;
    color: #FFF9FF;
    font-size: 30px;
    justify-self: end;
    border-radius: 17px;
  }


}
