<app-common-header [header]="moviliHeader"></app-common-header>
<ion-content>
	<div class="page-padding">
		<div class="profile-header">
			<div class="profile-logo">
				<img class="image" src="" alt="" [appBackgroundImage]="{index:0}">
			</div>
			<div class="profile-info">
				<div class="flex">
					<div class="name">
						Liana
					</div>
					<div class="edit">
						<img [appBackgroundImage]="{id:'/assets/icon/edit.svg',index:0}" src="" alt="">
					</div>
				</div>
				<div class="flex">
					<div class="email">
						lianakanat8@gmail.com
					</div>
				</div>
			</div>
		</div>
		
		<div class="custom-margin-top">
		</div>
	
	
	</div>
</ion-content>

