<ion-content>
    <app-common-header [header]="moviliHeader"></app-common-header>
    <div class="circle">
        <div class="bonus-text">Баланс:</div>
        <div class="bonus-amount">10000</div>
    </div>
    <div class="custom-margin-top"></div>
    <div class="add-balance">
        <button class="custom-button-movili add-button" (click)="addBalance()">
            <ion-icon name="add"></ion-icon>
        </button>
        <div class="add-balance-text">Пополнить баланс</div>
    </div>

</ion-content>
