:host {
  .sms-code {
    letter-spacing: 6px;
  }

  .padding-registration {
    padding-top: 120px;
  }

  .send-code-div {
    position: fixed;
    bottom: 20px;
    justify-content: space-between !important;
    width: 90vw;
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: var(--custom-font-weight-regular);
    line-height: 29px;
    color: var(--custom-backgrond-color-movili_gradient);
  }

  .next-button {
    width: 67px;
    color: #FFF9FF;
    font-size: 25px;
    border-radius: 50%;
  }
  label.thin-label {
    margin-top: 4vw;
    font-weight: var(--custom-font-weight-regular);
  }

}
