:host {
  .section-title {
    display: flex;
    justify-content: space-between;
  }
  .active-applications {

  }
  .application-card {
    margin: 6vw 0;
  }
  .card-margin-border {
    border-bottom: 2px solid var(--custom-backgrond-color-light-gray);
  }
}
