:host {
  .history-category {
    font-weight: var(--custom-font-weight-semibold);
    font-size: var(--custom-font-size-7);
    letter-spacing: -0.28px;
    color: var(--custom-text-color-movili);
  }
  .header-categories {
    display: flex;
    justify-content: space-around;
  }
  .home-padding {
    padding: 0 16px;
  }
  .section-title {
    display: flex;
    justify-content: space-between;
    & h5 {
      font-size: var(--custom-font-size-7);
    }
  }
  .active-applications {

  }
  .application-card {
    margin: 6vw 0;
  }
  .card-margin-border {
    border-bottom: 2px solid var(--custom-backgrond-color-light-gray);
  }
}
