<app-common-header [header]="moviliHeader"></app-common-header>
<div class="header-categories">
    <div *ngFor="let category of categories" (click)="changeProducts(category)"
         class="category-name {{category.selected ? 'selected': ''}}">
        {{category.name}}
    </div>
</div>
<ion-content>
    <div class="page-padding home-padding">
        <app-news-banner [banners]="banners"></app-news-banner>
        <div class="custom-margin-top"></div>
        <div class="section-title">
            <h5>{{headerText}}</h5>
<!--            <img src="assets/icon/filter.svg" (click)="goToFilter()" alt="">-->
        </div>
        <div class="active-applications">
            <div class="card-margin-border" *ngFor="let applicaton of applications">
                <app-applications-card [application]="applicaton" (click)="goToApplication(applicaton)"
                                       class="application-card"></app-applications-card>
            </div>
        </div>
    </div>
</ion-content>

