<app-common-header [header]="moviliHeader"></app-common-header>
<ion-content>
    <div class="page-padding">
        <div class="custom-margin-top"></div>
        <app-news-banner [banners]="banners"></app-news-banner>
        <div class="custom-margin-top"></div>
        <div class="section-title">
            <h5>Активные заявки</h5>
            <img src="assets/icon/filter.svg" (click)="goToFilter()" alt="">
        </div>
        <div class="active-applications">
            <div class="card-margin-border" *ngFor="let applicaton of applications">
                <app-applications-card (click)="goToApplication()"
                                       class="application-card"></app-applications-card>
            </div>
        </div>
    </div>
</ion-content>

