<div class="main-card">
	<img src="assets/profile.jpg" class="user-photo" alt="">
	<div class="user-name">Лиана</div>
	<div class="right-icon">
		<img src="assets/icon/right-arrow.svg" alt="">
	</div>
	<div class="user-address">Алматы
	</div>
	<div class="user-address">
		<span class="bold">Услуга: </span>
		Макияж
	</div>

	<div class="day-time">
		<div class="calendar-day">Пт</div>
		01.01.2021
	</div>
	<div class="day-time">
		<img src="assets/icon/time-icon.svg" alt="">
		18:00
	</div>

</div>
