:host {
  .history-category {
    font-weight: var(--custom-font-weight-semibold);
    font-size: var(--custom-font-size-7);
    letter-spacing: -0.28px;
    color: var(--custom-text-color-movili);
  }
  .order-type {
    margin-bottom: 5vw;
  }
}
