<!--<app-common-header [header]="moviliHeader"></app-common-header>-->
<!--&lt;!&ndash;<div class="header-categories">&ndash;&gt;-->
<!--&lt;!&ndash;    <div *ngFor="let category of categories" (click)="changeProducts(category)"&ndash;&gt;-->
<!--&lt;!&ndash;         class="category-name {{category.selected ? 'selected': ''}}">&ndash;&gt;-->
<!--&lt;!&ndash;        {{category.name}}&ndash;&gt;-->
<!--&lt;!&ndash;    </div>&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->
<ion-content>
    <div class="page-padding">
        <div class="order-type" *ngFor="let order of orders">
            <div class="history-category">
                {{order.name}}
            </div>
            <div class="custom-margin-top"></div>
            <div class="history-list">
                <div class="history-card" *ngFor="let history of history">
                    <app-history-card></app-history-card>
                </div>
            </div>
        </div>
    </div>

</ion-content>
