<div class="main-card">
    <img *ngIf="!ispRating.userProfile.photo" src="assets/unknown-avatar.jpeg" alt="">
    <img *ngIf="ispRating.userProfile.photo" src="{{photoUrl + ispRating.userProfile.photo}}" alt="">
    <div class="user-name">{{ispRating.userProfile.firstName + ispRating.userProfile.lastName}}</div>
    <div class="rating">
        <img class="star-img" src="assets/icon/star.svg" alt="">
        <span>{{ispRating.rateNum}}</span>
    </div>
    <div class="comment">{{ispRating.comment}}</div>

</div>
