<ion-content>
    <app-common-header [header]="moviliHeader"></app-common-header>
    <div class="edit-user-photo">
        <img class="edit-profile-avatar" src="assets/profile.jpg" alt="">
        <button class="custom-transparent-button white-btn" (click)="editPhoto()">Заменить</button>
    </div>
    <div class="page-padding">
        <div class="custom-margin-top"></div>
        <div class="flex-grid">
            <label class="bold-label" for="firstNameId">Имя</label>
            <input id="firstNameId" class="profile-input"
                   [(ngModel)]="ispResponse.username"
                   type="text" placeholder="Введите имя">
        </div>
        <div class="custom-margin-top"></div>
        <div class="flex-grid">
            <div class="bold-label">О себе</div>
            <div class="custom-div-textarea" contenteditable=""></div>
        </div>
        <div class="custom-margin-top"></div>
        <div class="bold-label portfolio">Портфолио</div>
        <div class="custom-margin-top"></div>
        <div class="portfolio-photos">
            <img class="portfolio-photo" src="{{imageUrl + portfolioPhoto}}"
                 *ngFor="let portfolioPhoto of ispResponse.portfolioPhotos"
                 alt="">
        </div>
        <div class="custom-margin-top"></div>



    </div>

</ion-content>
